.app {
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px;
  margin: 5px 0px 5px;
  border-radius: 5px;
  border: 1px solid red; 
}